{% extends "projects/navtemp.html" %}

{% load static %}

{% block content %}

<div class="container1">
  <div class="row align-items-center">
    <div class="col">
      <img src="{% static 'projects/self.jpg' %}" class="img-fluid">
    </div>
    <div class="col">
      <h1>About Me</h1>
      <p>I have been helping small and progressive entrepreneurs,  executives, small businesses and organizations for the past twenty years in various executive, operational and consulting capacities across a range of industries.  I am passionate about helping entrepreneurs to tap into their highest ideals and put practice plans to action to achieve results.</p>
    </div>
    
  </div>
</div>
<br>
<br>
<div class="col-md text-center">
<div class="spinner-grow" role="status">
  <span class="visually-hidden"></span>
</div>
<h1>Skills</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col align-items-center"><img src="{% static 'projects/django.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/py.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/php.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/boot.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/wp.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/html.jpg' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>

  </div>
  <br>
  <div class="row">
    <div class="col align-items-center"><img src="{% static 'projects/css.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/mysql.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/sqlite.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/orc.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/vs.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    <div class="col align-items-center"><img src="{% static 'projects/ps.png' %}" class="img-fluid" style="height: 5em; width: 5em;"></div>
    
  </div>
</div>
<br>
<br>


{% endblock %}